#board-container{
    display: flex;
}
#board-box{
    display: flex;
}
#board-content{
    min-width: 55%;
}
#and-board-tag{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #555555;
    font-weight: 700;
    margin-bottom: 1%;
}
#and-board-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}