#and-board-title-dt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    margin-left: 3%;
    width: 62%;
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;
}
#and-board-content-dt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 2;
    min-height: 70vh;
}
#and-board-tag-dt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #555555;
    font-weight: 700;
    width: fit-content;
    white-space: nowrap; 
}
#and-board-tag-dt::after {
    content: "|";
    margin: 0 5px;
    color: #000000;
  }
  
#and-board-updatedAt-dt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color: #000000;
    padding-top: 1%;
    margin-left: auto;
    margin-right: 10px;
}
#board-detail-box{
    display: flex;
    margin-top: 10px;
    padding-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    align-items: center;
}
#board-content-box{
    display: flex;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}
#board-detail-upde{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color: #000000;
    margin-right: 5px;
    margin-left: auto;
    padding-top: 1%;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
    white-space: nowrap; 
    
}
#and-board-line-dt{
    margin: 12px;

}