#board-container{
    display: flex;
    
}
#board-box{
    display: flex;
}
#and-board-tag{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #555555;
    font-weight: 700;
    margin-bottom: 1%;
}
#and-board-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}
#time-text{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #818181;
    font-weight: 500;
}
#and-board-line{
    width: 38.5vw;
}