#and-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    padding-top: 10vh;
    padding-left: 6vw;
}
#and-detail-container{
    display: flex;
}
#right-top-box{
    min-width: 35%;
    height: 70vh;
}
#end-date{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #00D337;
    padding-top: 10vh;
    padding-left: 6.5vw;
}
#left-main-box{
    background-color: yellow;
    height: 1300px;
    width: 65%;
}
#go-and{
    float: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #00D337;
    border: none;
    color: white;
    cursor: pointer;
    width: 50%;
    margin-top: 5%;
    height: 7vh;
    border-radius: 7px;
}
#go-and:hover{
    background-color: #24c44f;
}
#go-chat{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #00D337;
    border: none;
    color: white;
    cursor: pointer;
    width: 65%;
    margin-top: 3%;
    height: 7vh;
    border-radius: 7px;    
}
#go-chat:hover{
    background-color: #24c44f;
}
#and-content{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
#heart-icon{
    color: #00D337;
    cursor: pointer;
}
#remain{
    margin-top: 25%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10%;
}
#linear-div{
    display: flex;
}
#remain{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 2vw;
    margin-top: 20vw
}
#go-member{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    border: none;
    color: #00D337;
    cursor: pointer;
    width: 65%;
    margin-left: 35%;
    margin-top: 5%;
    height: 7vh;
    border-radius: 7px;
}