#and-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    padding-top: 10vh;
    padding-left: 6vw;
}
#and-detail-container{
    display: flex;
}
#right-top-box{
    min-width: 35%;
    height: 70vh;
}
#end-date{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #00D337;
    padding-top: 10vh;
    padding-left: 6.5vw;
}
#left-main-box{
    height: auto;
    width: 65%;
}
#go-and{
    float: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #00D337;
    border: none;
    color: white;
    cursor: pointer;
    width: 50%;
    margin-top: 5%;
    height: 7vh;
    border-radius: 7px;
}
#go-and:hover{
    background-color: #24c44f;
}
#go-chat{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #00D337;
    border: none;
    color: white;
    cursor: pointer;
    width: 65%;
    margin-top: 3%;
    height: 7vh;
    border-radius: 7px;    
}
#go-chat:hover{
    background-color: #24c44f;
}
#and-content{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
#heart-icon{
    color: #00D337;
    cursor: pointer;
}
#linear-div{
    display: flex;
}
#and-remain-day{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 17%;
    margin-left: 3%;

}
#go-member{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    border: none;
    color: #00D337;
    cursor: pointer;
    width: 65%;
    margin-left: 36%;
    margin-top: 5%;
    height: 7vh;
    border-radius: 7px;
}
#and-detail-bottom{
    display: flex;
    margin-left: 80%;
}

#and-detail-upde{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-left: 15%;
    margin-top: 20%;
    padding-top: 1%;
    text-decoration: none;
    cursor: pointer;
}
#and-detail-2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-left: 15%;
    padding-top: 1%;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10%;
}
#and-detail-bottom2{
    display: flex;
    margin-left: 70%;
}
#and-header-img{
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 5px;
    margin-bottom: 10%;
}