/* 전체 폼 스타일링 */
#and-update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
  }
  
  /* 입력 필드 스타일링 */
  #and-update-input{
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* 버튼 스타일링 */
  #and-update-submit_btn-box {
    display: flex;
    justify-content: center;
  }
  
  #and-update-submit_btn{
    padding: 10px 20px;
    margin: 2% 3%;
    background-color: #00D337;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  #and-update-submit_btn2{
    padding: 10px 20px;
    margin: 2% 30%;
    background-color: #00D337;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  #update-btn-box{
    display: flex;
  }
  #and-update-input-box{
    height: 80%;
  }
  #andupdate-img{
    width: 60px;
  }