#feed-head{
    display: flex;
}
#feed-top{
    display: flex;
    width: 35vw;
    margin:3vh 28%;
}
#and-title-box{
    width: 50%;
}
#and-feed-title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 28px;
    font-weight: 700;
}
#user-id{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
#and-end-date{
    width: 75px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #00D337;
}
#profile-img{
    border-radius: 100%;
    width: 4vw;
    height: 4vw;
}
#img-box{
    padding-right: 1vw;
}
#main-img{
    width:68%;
    border-radius: 10px;
}
#main-img-box{
    margin-top: 2%;
    margin-left: 27%;
    margin-bottom: 2vh;
}
#follow{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 20%;
    height: 5vh;
    border:1px solid #00D337;
    border-radius: 10px;
    margin-top: 2vh;
    flex-wrap: wrap; 
    margin-right: 10px;
}
.follow-button {
    background-color: white;
    color: #00D337;
}
  
  .following-button {
    background-color: #00D337;
    color: white;
}
#showmore-button-box{
    margin-left: 7%;
    height:35%;
}
#follow:hover{
    background-color: rgb(231, 253, 224);
    cursor:pointer;
}

#show-more-img{
    margin-top: 3.5%;
    margin-left: 2%;
    height: 7%;
    width: 4%;
}
#show-more-img:hover{
    cursor:pointer;
}
#simple-menu{
    margin-left:2%;
    border-radius: 10px;
}
#menu-box{
    border: 1px solid black;
    border-radius: 10px;
}
.menu{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 13vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    
}
#report-menu{
    color: #FF2618;
    border-bottom:1px solid black;
}
#feed-head{
    display: flex;
    margin-left: 27%;
    margin-top: 2%;
}

.sortOption {
    cursor: pointer;
}
  
  .sortOption.selected {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 3%;
  }
  
  .sortOption:not(.selected) {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-right: 3%;
  }

  select {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    border: none;
    padding: 5px;
  }
  
  select:focus {
    outline: none;
  }
#category{
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-left:5vw;
}
#write{
    margin-left: 10%;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 15%;
    height: 5vh;
    border-radius: 10px;
    border:none;
    background-color: #00D337;
    cursor: pointer;
}
#write:hover{
    filter: brightness(0.9);
}
#heart-icon{
    margin-right: 8px;
    color: #00D337;
    cursor: pointer;
}
#feed-bottom{
    display: flex;
}
#and-like{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #00D337;
    margin-left: 0;
}

#bottom-gap{
    margin-bottom: 15vh;
}
#and-role-box{
    display: flex;
    margin-left: 27%;
    width: 45%;
    flex-wrap: wrap; 
}
#and-role{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #00D337;
    border-radius: 10px;
    padding: 0 5px;
    color: #00D337;
    margin-right: 10px;
    margin-bottom: 10px;
}