.linkToCreate {
    font: white;
    margin-top: 15px;
    background-color: #00D337;
    float: right;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
}

.linkToCreate:hover {
    background-color: white;
    opacity: 1;
}

.carousel{
    margin: 10px;
    padding: 10px;
}

.btnCategory {
    text-align: center;
}

.crowdListblock {
    margin-top: 10px;
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
}

  