.header{
    display: block;
    padding: 1rem;
    /*width: 768px;*/
    margin: 0 auto;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .header{
        width: 100%;
        overflow-x: auto;
    }
}

.logo{
    float: left;
}

.andcrowd{
    font-size: 1.125rem;
    cursor: pointer;
    white-space: pre;
    text-decoration: none;
    color: inherit;
    padding-bottom: 0.25rem;
    margin-left: 10px;
    float: left;
}

.login{
    font-size: 1.125rem;
    cursor: pointer;
    white-space: pre;
    text-decoration: none;
    color: inherit;
    padding-bottom: 0.25rem;
    float: right;
}

.andcrowd + .login{
    margin-left: 20rem;
}