#login{
    margin-left: 4vh;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: #2D2D2D;
    text-decoration: none;
}

#signUp{
    margin-left: 2vh;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: #2D2D2D;
    text-decoration: none;
    margin-right: 0px;
    text-align: right;
}

#navText{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: #000000;
    margin: 20px;
    font-weight: 700;
    min-width: 1%;
    text-decoration: none;
}
#logo{
    margin-left: 4%;
    margin-right: 6%;
    display: flex;
    justify-content: center;
}
#logoimg{
    height: 4vh;
}
#mainTool{
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
#search-icon{
    cursor: pointer;
}