#login-text{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-right: 29vh;
}

#naver-login-button{
    margin-bottom: 3vh;
    margin-top: 2vh;
    width: 50vh;
    height: 7vh;
    background-image: url('../../public/naverLoginButton2.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#login-button{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 3vh;
    width: 50vh;
    height: 7vh;
    margin-bottom: 0;
    background-color: #0D6EFD;
    color: #FFFFFF;
}

#form-box{
    width: 50vh;
}

.login .MuiInputBase-input::placeholder {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.login .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #00D337;
}

#find-login-info{
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #AAAAAA;
    padding-left: 31vh;
}
#signup-container{
    margin-top: 5vh;
    margin-left: 9vh;
}

#signup-text{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}

#to-signup{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #00D337;
}
