.navigationBar{
    display: flex;
    background-color: grey;
    padding: 1rem;
    padding-left: 3rem;
    /*width: 768px;*/
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    .navigationBar{
        width: 100%;
        overflow-x: auto;
    }
}

.navgationContent{
    font-size: 1.125rem;
    cursor: pointer;
    white-space: pre;
    text-decoration: none;
    color: inherit;
    padding-bottom: 0.25rem;
}

.navgationContent:hover{
    color: #495057;
}

.navgationContent + .navgationContent{
    margin-left: 1rem;
}

.active{
    font-weight: 600;
    border-bottom: 2px solid #22b8cf;
    color: #22b8cf;
}

.active:hover{
    color: #3bc9db;
}